<div class="top_cont">
  <div class="page">
    <div class="head">
      Create User
    </div>
    <div class="body">
      <div class="box">
        <form [formGroup]="userDetails">
          <table>
            <tr>
              <td>First Name : </td>
              <td><input type="text" formControlName="firstName" ></td>
            </tr>
            <tr>
              <td>Last Name : </td>
              <td><input type="text" formControlName="lastName" ></td>
            </tr>
            <tr>
              <td>Mobile Number :</td>
              <td><input type="number" name="" id="" formControlName="mobileNumber" ></td>
            </tr>
            <tr>
              <td>Email Id :</td>
              <td><input type="email" name="" id="" formControlName="emailId" ></td>
            </tr>
            <tr>
              <td>Password : </td>
              <td><input type="password" name="" id="" formControlName="password" ></td>
            </tr>
          </table>
        </form>
      </div>
      <body>
        <button (click)="submit()" >Create</button>
        <button (click)="delete()" >delete</button>
      </body>
    </div>
  </div>
</div>
