.top_cont{
  // border : 2px solid black;
  height: 60vh;
  width: 25vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 37%;
}
.page{
  border: 2px solid skyblue;
  width: 99%;
  height: 97%;
}

.head{
  border: 2px solid skyblue;
  width: 100%;
  padding: 1vh;
  background-color: skyblue;
}
